<div class="pregunta">
    <h2>Preguntados: </h2>
    <p ngClass="{{quizzes[currentQuiz].country}}"> A que pais corresponde la bandera?</p>
    <img src="{{this.banderaPais.bandera}}" >
</div>
<div class="lista-respuestas">
    <button *ngFor="let quiz of quizzes[currentQuiz].answer" 
        (click)="seleccionarRespuesta(quiz.correct)"
        [disabled]="mostrandoMensajeFinal || generandoPregunta"
        class="respuesta" (change)="seleccionarRespuesta(quiz.option)"
        [ngClass]="{'correcta': mostrandoMensajeFinal && quiz.correct, 'incorrecta': mostrandoMensajeFinal && !quiz.correct}">
        {{quiz.option}}
    </button>
</div>
<div *ngIf="mostrandoMensajeFinal" class="mensaje-final" [ngClass]="{'ganado': gano}">
    <p>{{mensajeFinal}}</p>
    <button *ngIf="!gano"  (click)="iniciarJuego()">¿Otra Pregunta?</button>
</div>

