<div class="about-me">
    <h2>Quien soy</h2>
    <h3>Charotti Michelle M. </h3>
    <p>Cursando la materia Lab IV.</p>
    <p>Las cosas que hago en mis tiempos libres es viajar y recorrer pueblos no conocidos.</p>
    
    <div class="doble">
      <img src="../../../assets/foto.jpg" alt="foto">
      <div>
        <p><strong>Juego: Proximamente</strong></p>
        <p>Reglas: </p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>  Excepturi voluptates neque corrupti,</p>
        <p>  aperiam placeat quas magnam autem nisi dolores </p>
        <p>  iusto mollitia quaerat non vitae ab voluptatum quisquam? </p>
          <p>Ratione, vero veniam?</p> 
      </div>
    </div>
  </div>

