<div class="about-me">
    <h2>Quien soy</h2>
    <h3>Charotti Michelle M. </h3>
    <p>Cursando la materia Lab IV.</p>
    <p>Las cosas que hago en mis tiempos libres es viajar y recorrer pueblos no conocidos.</p>
    
    <div class="doble">
      <img src="../../../assets/foto.jpg" alt="foto">
      <div>
        <p><strong>Juego: </strong>Buscamina</p>
        <p><strong>Reglas: </strong></p>
       <p>Se debe despejar las casillas que no oculten una mina. </p>
        <p>Algunas casillas tienen un numero, el cual indica la cantidad de minas circundante.</p>
        <p>Si una casilla tiene el número 3,significa que de las ocho casillas que hay alrededor</p>
        <p> hay 3 con minas y 5 sin minas. </p>
        <p>Si se descubre una casilla sin número indica que ninguna de las casillas</p>
        <p>vecinas tiene mina y éstas se descubren automáticamente.</p> 
        <p>Al descubrir una casilla con una mina se pierde la partida.</p>
        <a href="https://es.wikipedia.org/wiki/Buscaminas" >Más Información</a>
      </div>
    </div>
  </div>

