
:host{
     display: flex;
     justify-content: center;
     align-items: stretch;
  }
  

  p{
    text-decoration: none;
    margin: 1px;
  }
  
  
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 20px;
    // width: 300px;
    height: 20vh;
    // height: 200px;
    // width: 68vw;
    // margin-right: 3vw;
   
  }
  
  .right{
    display: flex;
    flex-direction: row;
    // height: 85vh;
    width: 10vw;
    margin-top: 2vb;
    justify-content: center;
    // margin-right: 1vw;
  }
  
  ul{
    list-style: none;
  }
  
  .izquierda{
    width: 30px;
  }
  
  .derecha{
    width: 300px;
  }
  
  .centro{
    width: 50px;
  }
  
  .right button img{
    width: 8vw;
    max-height: 20vh;
  }
  button{
    max-height: 25vh;
    margin: 150px 20px;
    padding: 30px;
    background-color: #32cd32;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover{
    background-color: #36b036;
  }
  
  button p{
    font-size: 1.2vw;
    color: white;
    text-align: center;
    font-weight: 700;
  }
  
  // .list-pair{
  //   display: flex;
  // }
  
  .list{
    padding: 1px;
    margin: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .list h3{
    width: 100%;
    padding: 5px 0px;
    background-color: #32cd32;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .lista-texto-izquierda{
    display: inline-block;
    width: 5%;
    text-align: start;
    margin-right: 5px;
  }
  
  .lista-texto-centro{
    display: inline-block;
    width: 85%;
    text-align: start;
  }
  
  .lista-texto-derecha{
    margin: 0px 5px;
    display: inline-block;
    width: 10%;
    text-align: end;
    background-color: #32cd32;
  }
  
  li{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #333;
  }
  
  ul{
    width: 100%;
  }
  
  
.puntaje-personal{
  border-radius: 5px;
  // margin-top: 450px;
  padding: 50px 60px;
    justify-content: center;
    align-items: center;
    display: flex;
  // flex-direction: column;
  border: 1px solid black;
  background-color: whitesmoke; 
}

.puntaje-personal h3{
font-size: 28px;
text-align: center;
color: green;
font-weight: 700;

}


.puntaje-personal strong{
  display: block;
  font-size: 20px;
  font-weight: 300;
 }