
<div class="right">
    <button  routerLink="/ahorcado">
         <img src="../../../assets/ahorcado.png" alt="img"> 
        <p>Ahorcado</p>
    </button>
    <button routerLink="/preguntados">
        <img src="../../../assets/preguntados.png" alt="img">
        <p>Preguntados</p>
    </button>
    <button routerLink="/mayor-menor">
        <img src="../../../assets/mayoromenor.png" alt="img">
        <p>Mayor o Menor</p>
    </button>
    <button routerLink="/buscamina">
        <img src="../../../assets/buscamina.png" alt="img">
        <p>Buscamina</p>
    </button>

    
</div>


