:host{
    position: fixed;
    bottom: 0%;
    left: 0%;
}
img{
    width: 50px;
}

.chat{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d7ecd7;
    color: white;
    padding: 5px;
    margin: 3px;
}
.abrir{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    min-width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #32CD32;
    color: white;
    padding: 5px;
    margin: 3px;
}

.cerrar button{
    position: absolute;
    right: 0px;
    margin-left: auto;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #32CD32;
    color: white;
    padding: 5px;
    margin: 2px 7px;
}

.enviar{
    position: absolute;
    right: 0px;
    margin-left: auto;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #32CD32;
    color: white;
    padding: 5px;
    margin: -5px 7px;
}

input{
    width: calc(100% - 30px);
}

button:hover{
    background-color: #277927;
}

.chat-box{
    color: black;
    font-size: 16px;
    font-weight: 300;
    height: 60vh;
    width: 33vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

li{
    list-style: none;
    border-bottom: 1px black solid;
}

ul{
    padding: 1px 5px;
}

.chat-box::-webkit-scrollbar {
    display: none;
}