/* You can add global styles to this file, and also import other style files */
.fondo{
    background-color:  rgb(137, 244, 133,0.4);
    background-image: url("assets/fondo2.png");
    min-height: 100%;
    background-repeat: space;
    background-size: 40px 40px;
    
}